@font-face {
    font-family: TiemposHeadline;
    src: url(../fonts/TiemposHeadline-Medium.ttf);
}

@font-face {
    font-family: TiemposText;
    src: url(../fonts/TiemposText-Regular.ttf);
}


/* Body styling */
body {
    position: relative;
    max-width: 1024px;
    margin-right: .5em;
    margin-left: .5em;
    background-color: #F7F7F5;
    color: #000000;

    --headline-text: 'TiemposHeadline';
    --default-text: 'Inter';
}

/* Home styling */
.grid{
    display: flex;
    grid-gap: 10px;
    margin-bottom: 10px;
    flex-wrap: wrap;
    flex-direction: column-reverse;
}

.headline {
    font-family: var(--headline-text);
    font-weight: 700;
    font-size: 28px;
}

.headline.featured{
    font-size: 32px;
}

.featured-text{
    font-family: var(--default-text);
    font-weight: 300;
    font-size: 19px;
}

.post-meta {
    font-family: var(--default-text);
    font-size: 12px;
    text-transform: uppercase;
}

.post-meta .author {
    font-weight: 700;
}

.post-meta .reading-time {
    font-weight: 300;
}

/* NEW ARTICLE STYLING */
.article-list{
    display: grid;
    gap: 10px;
}

.article {
    border: 2px solid black;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: 1fr .5fr;
    grid-column-gap: 10px;
    grid-row-gap: 0px;
    overflow: hidden;
    background-color: #fff;
}

.article img {
    grid-area: 1 / 1 / 3 / 2;
    width: 100%;
    min-height: 150px;
    max-height: 150px; /* Fixed height for images */
    object-fit: cover; /* Maintain aspect ratio and crop if necessary */
    overflow: hidden;
}

.article.featured img.featured-image-mobile {
    display: block;
}

.article h3 {
    grid-area: 1 / 2 / 2 / 4;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 2;
    line-clamp: 2;
    overflow: hidden;
    min-height: 100px;
}

.featured-image, div.featured-text {
    display: none;
}

hr {
    grid-area: 2 / 2 / 3 / 4;
    color: black;
    background-color: black;
    width: 100%;
    border: none;
    height: 2px;
}

.article .post-meta{
    margin-top: 1em;
    grid-area: 2 / 2 / 3 / 4;
}

a.article-link {
    text-decoration: none; /* Remove underline */
    color: inherit; /* Inherit text color */
}

@media screen and (min-width: 800px) {
    .grid{
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        grid-gap: 10px;
        margin-bottom: 10px;
    }

    .article-list{
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        gap: 10px;
    }

        /* Style for each article */
    .article {
        display: flex;
        margin-right: auto;
        margin-left: auto;
        position: relative;
        flex-direction: column;
        align-items: center;
        text-align: center;
        height: 450px;
        max-height: 450px;
        overflow: hidden;
    }

    .article.featured h3 {
        display: -webkit-box;
        -webkit-box-orient: vertical;
        -webkit-line-clamp: 4;
        line-clamp: 4;
        min-height: 120px;
        margin: .2em 0 .2em 0;
    }

    /* Image style */
    .article img {
        width: 100%;
        height: 250px; /* Fixed height for images */
        object-fit: cover; /* Maintain aspect ratio and crop if necessary */
        margin-bottom: 10px; /* Add some spacing between image and text */
        max-height: unset;
    }

    .article.featured img {
        min-height: 450px;
        max-height: 450px;
    }

    .article.featured img.featured-image-mobile {
        display: none;
    }

    /* Title style */
    .article h3 {
        margin: 10px 10px 0 10px;
        -webkit-line-clamp: 3;
        line-clamp: 3;
    }

    hr{
        margin: 1em;
    }

    a.featured-text{
        grid-area: 1 / 1 / 2 / 2;
    }

    div.featured-text{
        display: block;
    }
    
    a.featured-image{
        grid-area: 1 / 2 / 2 / 4;
        display: block;
    }
    
    .article.featured img {
        min-height: 450px;
        max-height: 450px; /* Fixed height for images */
    }
}

@media screen and (min-width: 1024px) {
    body{
        margin-left: auto;
        margin-right: auto;
    }
}

/* Post page */
* {
    margin: 0;
    padding: 0;
}

.single-post {
    display: flex;
    flex-direction: column;

    align-items: center;
    margin: 5%;
}

h2 {
    font-size: 2em;
    text-align: center;
    margin: 5%;
}

.post-img, figure, figure img {
    width: 100%;
    max-width: 400px;
    height: auto;
}

figure img {
    margin-top: 1em;
    margin-bottom: 1em;
}

ul {
    list-style: none;
    display: flex;
    /* justify-content: space-between; */
    margin: 0% 3% 0% 3%;
    justify-content: center;
    flex-wrap: wrap;
}

.post-info {
    margin: 4% 0% 4% 0%;
}

li {
    font-size: 1em;
    margin: 2%;

    &.category {
        font-weight: bold;
    }

    &.author {
        font-weight: bold;
    }

    &.read-time {
        font-weight: 700;
        color: rgb(99, 99, 101);
    }
}

p {
    margin-top: 1em;
}

h4{
    font-size: 150%;
    margin-top: 1.5em;
}

a.category {
    text-decoration: inherit;
    color: white;
    background-color: black;
    padding: .2em;
}


/* Nav styling */
nav {
    margin: 5%;
    display: flex;
    justify-content: space-between;
    align-items: center; /* Add this line */
}

.logo {
    width: 40%;
}

@media (min-width: 45em) {
    .logo {
        width: 20%;
    }
}

@media (min-width: 75em) {
    .logo {
        width: calc(20% - 5%)
    }
}

/* Hide content visually but keep it accessible to screen readers */
.sr-only {
    position: absolute;
    width: 1px;
    height: 1px;
    padding: 0;
    overflow: hidden;
    clip: rect(0, 0, 0, 0);
    white-space: nowrap;
    border: 0;
}

/* Share button */
.share-button {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 40px; /* Set initial width for mobile */
    height: 40px; /* Set initial height for mobile */
    border: none; /* Remove default button styling */
    background: none; /* Remove default button styling */
    cursor: pointer; /* Change cursor to pointer */
    padding: 0; /* Remove default button padding */
}

.share-button:focus {
    outline: none; /* Remove default focus outline */
}

@media screen and (min-width: 576px) {
    .share-button {
        width: 50px; /* Adjust width for larger screens */
        height: 50px; /* Adjust height for larger screens */
    }
}

@media screen and (min-width: 768px) {
    .share-button {
        width: 60px; /* Adjust width for tablets */
        height: 60px; /* Adjust height for tablets */
    }
}

@media screen and (min-width: 992px) {
    .share-button {
        width: 70px; /* Adjust width for desktops */
        height: 70px; /* Adjust height for desktops */
    }
}
