@font-face {
    font-family: TiemposHeadline;
    src: url(../fonts/TiemposHeadline-Medium.ttf);
}

@font-face {
    font-family: TiemposText;
    src: url(../fonts/TiemposText-Regular.ttf);
}


/* Body styling */
body {
    position: relative;
    max-width: 1024px;
    margin-right: .5em;
    margin-left: .5em;
    background-color: #F7F7F5;
    color: #000000;

    --headline-text: 'TiemposHeadline';
    --default-text: 'Inter';
}

/* Home styling */
.grid{
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    grid-gap: 10px;
}

.grid.container {
    margin-top: 10px;
    grid-template-columns: repeat(auto-fit, minmax(150px, 1fr)); /* Adjusted for mobile */
}

.headline {
    font-family: var(--headline-text);
    font-weight: 700;
    font-size: 28px;
}

.headline.featured{
    font-size: 32px;
}

.featured-text{
    font-family: var(--headline-text);
    font-weight: 700;
    font-size: 28px;
}

.post-meta {
    font-family: var(--default-text);
    font-size: 12px;
    text-transform: uppercase;
}

.post-meta .author {
    font-weight: 700;
}

.post-meta .reading-time {
    font-weight: 300;
}

hr {
    color: black;
    background-color: black;
    width: 100%;
    margin: 1em;
    border: none;
    height: 2px;
}

/* Style for each article */
.article {
    background-color: #fff;
    display: flex;
    margin-right: auto;
    margin-left: auto;
    position: relative;
    flex-direction: column;
    align-items: center;
    text-align: center;
    border: 2px solid black;
    height: 450px;
    overflow: hidden;
}

/* Image style */
.article img {
    width: 100%;
    height: 250px; /* Fixed height for images */
    object-fit: cover; /* Maintain aspect ratio and crop if necessary */
    margin-bottom: 10px; /* Add some spacing between image and text */
}

/* Title style */
.article h3 {
    margin: 10px 10px 0 10px;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 3;
    line-clamp: 3;
    overflow: hidden;
    min-height: 100px;
}

a.article-link {
    text-decoration: none; /* Remove underline */
    color: inherit; /* Inherit text color */
}

/* Media query for even larger screens */
@media screen and (min-width: 450px) {
    .grid.container {
        grid-template-columns: repeat(2, 1fr);
    }
}

@media screen and (min-width: 1024px) {
    body{
        margin-left: auto;
        margin-right: auto;
    }
}

/* Post page */
* {
    margin: 0;
    padding: 0;
}

.single-post {
    display: flex;
    flex-direction: column;

    align-items: center;
    margin: 5%;
}

h2 {
    font-size: 2em;
    text-align: center;
    margin: 5%;
}

.post-img, figure, figure img {
    width: 100%;
    max-width: 400px;
    height: auto;
}

figure img {
    margin-top: 1em;
    margin-bottom: 1em;
}

ul {
    list-style: none;
    display: flex;
    /* justify-content: space-between; */
    margin: 0% 3% 0% 3%;
    justify-content: center;
    flex-wrap: wrap;
}

.post-info {
    margin: 4% 0% 4% 0%;
}

li {
    font-size: 1em;
    margin: 2%;

    &.category {
        font-weight: bold;
    }

    &.author {
        font-weight: bold;
    }

    &.read-time {
        font-weight: 700;
        color: rgb(99, 99, 101);
    }
}

p {
    margin-top: 1em;
}

h4{
    font-size: 150%;
    margin-top: 1.5em;
}

a.category {
    text-decoration: inherit;
    color: white;
    background-color: black;
    padding: .2em;
}


/* Nav styling */
nav {
    margin: 5%;
    display: flex;
    justify-content: space-between;
    align-items: center; /* Add this line */
}

.logo {
    width: 40%;
}

@media (min-width: 45em) {
    .logo {
        width: 20%;
    }
}

@media (min-width: 75em) {
    .logo {
        width: calc(20% - 5%)
    }
}